project:
  type: website
  render:
    - "*.qmd"
    - "!archive/"

website:
  title: " "
  description: "A website to to facilitate knowledge exchange and connections among development economists based in the Netherlands."
  open-graph:
    image: images/dude_banner.png
    image-alt: "Explaining an economic game to farmers in Masaka, Uganda."
  twitter-card:
    image: images/dude_banner.png
    image-alt: "Explaining an economic game to farmers in Masaka, Uganda."
    card-style: summary_large_image
  site-url: https://www.m-gonzalezamador.com
  favicon: images/favicon.ico
  navbar:
    background: "#472605"
    foreground: "#FFFFFF"
    title: ""
    search: true
    logo: images/logos/dude_logo_m2.png
    right:
      - href: index.qmd
        icon: house-door-fill
        text: " "
      - text: "Posts"
        menu:
        - href: posts/blog/index.qmd
          text: "Blog"
        - href: posts/research/index.qmd
          text: "Research"
      - text: "Members"
        menu:
        - href: members/universities/index.qmd
          text: "Affiliated Universities"
        - href: members/members/index.qmd
          text: "Members"
      - href: events/index.qmd
        text: "Events"
      - href: contact/index.qmd
        text: "Contact"
      - href: https://github.com/michelleg06/dude_website
        icon: github
  announcement:
    icon: info-circle
    dismissable: true
    content: "This site is under construction!"
    type: warning
    position: below-navbar

format:
  html:
    fontsize: 1.15rem
    monofont: Fira Code
    highlight-style: arrow
    css: [theme.css, custom_theme.scss]
    toc: true
    code-overflow: scroll
    linkcolor: "#B8573E"
    includes:
      before-body: hero-image.html
    #include-before-body: _fathom.html # this is an analytics/tracker, a good alternative to Google Analytics
      after-body: _footer.html

freeze: true



