/*-- scss:defaults --*/

// fonts (Roboto is imported in the rules section below)
$font-family-sans-serif: "Roboto", sans-serif;

// colours
// $body-bg: #FFFBF7;
$navbar-hl: #E06E53;

/*-- scss:rules --*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

h4,
.h4 {
  font-size: 1.11rem !important;
}
